<body>
  <aside>
    <h2>Gráficos</h2>
    <section>
      <input type="text" name = "pesquisa" [(ngModel)]="pesquisa">
      <button type="button">
        <img src="assets/images/search_icon.svg" alt="imagem de uma lupa">
      </button>
    </section>
    <ul id="lista">
      <li>Barras</li>
      <li>Linhas</li>
      <li>Pizza</li>
      <li>Colunas</li>
      <li>Área</li>
      <li>Bubble</li>
      <li>Mixed</li>
      <li>Polar área</li>
      <li>Radar</li>
      <li>Scatter</li>
    </ul>
    <div>Por Letícia Perotti</div>
  </aside>
  <main>

  </main>

</body>
