/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins&display=swap');
*{
  margin: 0;

  --rosa : #F4BFBF;
  --salmon: #FFD9C0;
  --bege: #FAF0D7;
  --azul: #8CC0DE;
  --branco: #f8f8f8;
  --cinza: #4F4F4F;
  --cinza-claro: #e6e6e6;
  --roxo: #e0b0ff
}
